<div class="main-content">
    <div class="main-header-content">
        <div class="addressbook-detail-text">
            Address Book Details
        </div>
        <button class="add-button" (click)="onAddUser()">
            <img src="../assets/plus.svg" alt="">
            Add Person
        </button>
    </div>
</div>
<div class="main-content">
    <div class="table-main">
        <table id="table-display" class="table">
            <tr>
                <!--Table header-->
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>City</th>
                <th>State</th>
                <th>zipCode</th>
                <th>Actions</th>
            </tr>

            <tr *ngFor="let addAddressBook of addressbookangular">
                <td>{{addAddressBook.id}}</td>
               <td>{{addAddressBook.firstName}}</td>
               <td>{{addAddressBook.lastName}}</td>
               <td>{{addAddressBook.phone}}</td>
               <td>{{addAddressBook.email}}</td>
               <td>{{addAddressBook.city}}</td>
               <td>{{addAddressBook.state}}</td>
               <td>{{addAddressBook.zip}}</td>
               
               <td>
                   <img src="../assets/edit.svg" (click)="updateById(addAddressBook.id)" />
                   <img src="../assets/delete.svg" (click)="deleteAddresssBookById(addAddressBook.id)"  />
               </td>
           </tr>

          
        </table>
    </div>
</div>